@charset "ISO-8859-1";

body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11pt;
	color: black;
}

p {
	padding: 10px;
}

a:link { 
	text-decoration: none;
	text-underline: none;
} 

form {
	margin: 0px auto;
}

input {
	padding: 8px 10px;
	//background: rgba(50, 50, 50, 0.2);
	//border: 0px solid #dbdbdb;
}

input[type=submit] {
	position: relative;
	padding: 6px 15px;
	//left: -8px;
	border: 2px solid #207cca;
	background-color: #207cca;
	color: #fafafa;
}

#search_btn{
	left: -8px;
}

#wrapper {
	margin: 0 auto;
	width: 1200px;
}

#header {
	float: left;
	height: 180px;
	width: 1200px;
	//background: #FF6633;
	//border: 1px solid;
}

#menu {
	float: left; 
	height: 50px;
	width: 1200px;
	//border: 1px solid;
	text-align:right;
}

#logo {
	float: left;
	width: 200px; 
	//background: #ff80c0;
}

#search {
	float: left;
	width: 750px;
	//margin-left: 200px;
	margin-top: 60px; 
	//background: #ff80c0;
	text-align: center;
}

#search_input {
	width: 400px;
}

.login_input{
	width: 180px;
}

.register_input{
	width: 180px;
}

#submit {
	width: 80px;
}

.login {
	float: right;
	width: 200px;
	background-color: #F7F7F7;
	//margin: 0 auto 10px;
	//border-radius: 2px;
	//box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	overflow: hidden;
	
	padding: 10px;	
	border: 1px solid #DDD;
	border-radius: 5px;
	font-size: 12px;
}

.login h2 {
	background: #E2E2E2;
	padding: 4px;
	font-size: 14px;
	margin: -10px -10px 5px;
	color: #707070;
}

.login input[type=text], input[type=password] {
	height: 24px;
	font-size: 11px;
	//width: 100%;
	margin-bottom: 5px;
	//-webkit-appearance: none;
	//background: #fff;
	//border: 1px solid #d9d9d9;
	//border-top: 1px solid #c0c0c0;
	padding: 0 8px;
	//box-sizing: border-box;
	//-moz-box-sizing: border-box;
}

#content {
	float: left;
	width: 700px;
	backgroud: #d9d9d9;
}

#leftcolumn {
	//background: #33CCFF;
	width: 200px;
	float: left;
}

#rightcolumn {
	//background: #CC33FF;
	width: 200px;
	float: right;
}

#footer {
	height: 40px;
	width: 1200px;
	//background: #33FF66;
	clear: both;
}

.cnt_img{
	height: 50px;
	width: 50px;
}